html,
body,
#map {
  width: 100%;
  height: 100vh;
  padding: 10px;
  margin: 0;
}

.legend {
  padding: 10px;
  line-height: 18px;
  color: #b67edb;
  background-color: #d06544;
}

.legend i {
  float: right;
  width: 18px;
  height: 18px;
  margin-right: 8px;
  opacity: 0.9;
}

.leaflet-bottom.leaflet-right {
  width: 85%;
}

.leaflet-control-container .leaflet-timeline-controls {
  width: 80%;
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 20px;
}

